@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@500&family=Karma:wght@300;400;500;600;700&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@500&family=Karma:wght@300;400;500;600;700&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* common styling */

* {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    line-height: 24px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    visibility: visible;
    font-family: "poppins", sans-serif;
    color: #5a5a5a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0;
    font-family: "baloo 2", cursive;
}

h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 36px;
}
h3 {
    font-size: 30px;
    line-height: 30px;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}

p:last-child {
    margin-bottom: 0;
}
a,
button {
    color: gray;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
}

a,
button,
img,
input,
span {
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: gray;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.home_black_virsion {
    background: #242424;
}

/* **********************middel header ********************* */

.cart_link {
    margin-left: 25px;
    position: relative;
}

.cart_link span.cart_quantity {
    position: absolute;
    left: -11px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: #a8741a;
    color: #ffffff;
    border-radius: 50%;
    top: 12px;
}

.cart_link > a {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #212121;
    border: 1px solid #ebebeb;
    padding: 11px 10px 13px 18px;
    line-height: 15px;
    border-radius: 3px;
    display: block;
}

.cart_link > a:hover {
    color: #a8741a;
}
.cart_link > a i.ion-android-cart {
    font-size: 19px;
    margin-right: 10px;
    border-right: 1px solid #ebebeb;
    position: relative;
    top: 3px;
    padding-right: 10px;
}

.cart_link > a i.ion-chevron-down {
    font-size: 17px;
    margin-left: 3px;
}

.header_black .cart_link span.cart_quantity {
    background: #a8741a;
}

.header_black .cart_link > a {
    color: #ffffff;
}

.header_black .cart_link > a:hover {
    color: #a8741a;
}

.cart_link {
    margin-left: 25px;
    position: relative;
}

.mini_cart {
    position: fixed;
    min-width: 355px;
    height: 100%;
    padding: 18px 20px 33px;
    background: #ffffff;
    z-index: 999;
    right: 0;
    top: 0;
    transition: 0.5s;
    transform: translateX(100%);
}

.mini_cart.active {
    transform: translateX(0);
    transition: 0.5s;
}
.header_black .mini_cart {
    background: #242424;
    border: 1px solid #2d2d2d;
}
.cart_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.header_black .cart_close {
    border-bottom: 1px solid #2d2d2d;
}

.cart_text h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
}
.mini_cart_close > a {
    font-size: 25px;
    color: #ffffff;
}

.mini_cart_close > a:hover {
    color: #a8741a;
}

.cart_item {
    padding: 20px 0;
    border-bottom: 1px solid #2d2d2d;
    display: flex;
    overflow: hidden;
}
.cart_img {
    width: 100px;
    margin-right: 10px;
}
.cart_info {
    width: 58%;
}
.cart_info a {
    color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}
.cart_info a:hover {
    color: #a8741a;
}

.cart_info span {
    display: block;
}
.cart_info span.price_cart {
    color: #a8741a;
    font-weight: 600;
}

.header_black .cart_info span.quantity {
    color: #a0a0a0;
}
.cart_remove {
    width: 10%;
    text-align: center;
}
.cart_remove a {
    color: #eaeaea;
    font-size: 18px;
}

.cart_remove a:hover {
    color: #a8741a;
}
.cart_total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.cart_total span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.mini_cart_footer {
    padding: 0 25px 25px;
    background: #242424;
}
.cart_button a {
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
    color: #ffffff;
    background: #2e2e2e;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0 11px;
}

.cart_button a:hover {
    background: #a8741a;
}

.cart_button.view_cart {
    padding-bottom: 15px;
}

.cart_button a.active {
    background: #a8741a;
}
.cart_button a.active:hover {
    background: #e6b86a;
    color: #000000;
    font-weight: 600;
}

/* ******************* header down ***************** */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom.sticky-header.sticky .logo_sticky {
    display: block;
}

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.header_bottom.sticky-header.sticky {
    text-align: center;
}
.header_black .sticky-header.sticky {
    background: rgba(54, 63, 77);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}
.main_menu_inner {
    text-align: center;
}
.logo_sticky {
    display: none;
    margin-right: 35px;
}
.logo_sticky a img {
    max-width: 120px;
}
.main_menu nav > ul > li {
    display: inline-block;
    position: relative;
}
.main_menu nav > ul > li > a i {
    margin-left: 2px;
}
.main_menu nav > ul > li:hover > a {
    color: #a8741a;
}

.main_menu nav > ul > li.active > a {
    color: #a8741a;
}

.main_menu nav > ul > li > ul.sub_menu {
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav > ul > li > ul.sub_menu > li > a {
    font-size: 15px;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.main_menu nav > ul > li > ul > li > a {
    color: #808080;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}

.main_menu nav > ul > li > ul.mega_menu li ul li a:hover {
    color: #e6b86a;
}

.header_black .main_menu nav > ul > li:hover > a {
    color: #a8741a;
}
.header_black .main_menu nav > ul > li > a {
    color: #ffffff;
    font-family: serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px;
}
.header_black .main_menu nav > ul > li ul.sub_menu {
    background: #242424;
    border: 2px solid #2d2d2d;
}
.header_black .main_menu nav > ul > li ul.sub_menu li a {
    color: #ffffff;
    font-family: serif;
}
.header_black .main_menu nav > ul > li > ul.sub_menu li a:hover {
    color: #a8741a;
}

.ion-chevron-down {
    font-size: 14px;
    padding-left: 3px;
}

.main_menu nav > ul > li > a {
    display: block;
    padding: 19px 20px;
    color: #212121;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
}
/* ******************slider section*************** */
.single_slider {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.slider_area {
    margin-bottom: 35px;
}

.slider_area.owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.slider_area.owl-carousel .owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: #242424;
    margin: 0 5px;
    transition: all 0.3s;
    position: relative;
}
.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
    position: absolute;
    content: "";
    background: #a8741a;
    width: 13px;
    height: 13px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
}
.slider_area .single_slider .row {
    height: 500px;
}
.slider_area .slider_content {
    margin-left: 20px;
    overflow: hidden;
}

.slider_black .slider_content p {
    color: #a8741a;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 22px;
}
.slider_black .slider_content p.slider_price {
    color: #fff;
}
.slider_black .slider_content p.slider_price span {
    color: #a8741a;
    margin-bottom: 0;
}

.slider_black .slider_content h1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Baloo 2", serif;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider_black .slider_content h1 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 8px;
    }
}
.slider_black .slider_content span {
    font-size: 24px;
    color: #cccccc;
    margin-bottom: 35px;
    display: inline-block;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider_black .slider_content span {
        font-size: 18px;
        margin-bottom: 25px;
    }
}
.slider_black .slider_content a {
    background: #a8741a;
    margin-top: 30px;
}
.slider_black .slider_content a:hover {
    background: #212121;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider_black .slider_content a {
        margin-top: 43px;
    }
}
.active .slider_content > span {
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}
.active .slider_content p,
.active .slider_content h1,
.active .slider_content a {
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}
.active .slider_content h1 {
    animation-delay: 0.6s;
}
.active .slider_content a {
    animation-delay: 0.9s;
}

.slider_content p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 11px;
    color: #242424;
    text-transform: capitalize;
}
.slider_content h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.slider_content p.slider_price {
    color: #fff;
    font-size: 18px;
}
.slider_content p.slider_price span {
    font-size: 22px;
    font-weight: 500;
    margin-left: 8px;
    color: #a8741a;
    margin-bottom: 0;
}

.slider_content a {
    font-weight: 500;
    margin-top: 25px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
}
.slider_content a:hover {
    background: #212121;
}
.button {
    background: #a8741a;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 22px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
}

/* ************************** banner section ********************** */

.banner_black .banner_content {
    transition: 0.5s;
    bottom: 25px;
    top: inherit;
}
.banner_black .banner_content p {
    color: #ffffff;
    margin-bottom: 10px;
}
.banner_black .banner_content h2 {
    color: #a8741a;
    font-weight: 400;
    font-family: "Baloo 2", serif;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner_black .banner_content h2 {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 13px;
    }
}
.banner_black .banner_content span {
    color: #fff;
}
.banner_black .banner_thumb:hover .banner_content {
    transform: scale(1.1);
}
.banner_thumb {
    position: relative;
    overflow: hidden;
}

.banner_thumb img {
    transition: 0.3s;
}
.banner_thumb:hover::before {
    opacity: 1;
}
.banner_thumb:hover img {
    transform: scale(1.1);
}

.banner_black .banner_thumb:hover .banner_content {
    transform: scale(1.1);
}
.banner_content {
    margin-top: 20px;
}
.banner_content p {
    color: #7d7d7d;
    margin-bottom: 0;
}

.banner_content span {
    color: #242424;
}
/* ******************* banner section end ***************** */

/* footer section */
.footer_black {
    border-top: 1px solid #2d2d2d;
    padding-top: 67px;
}

.footer_top {
    padding-bottom: 61px;
}
.footer_black .widgets_container > h3 {
    color: #fff;
    font-family: serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.footer_contact p {
    margin-bottom: 0;
    line-height: 30px;
    color: #a0a0a0;
}

.footer_contact p a:hover {
    color: #a8741a;
}

.footer_contact ul {
    margin-top: 10px;
}
.footer_contact ul li {
    display: inline-block;
    margin-right: 7px;
}

.footer_contact ul li:last-child {
    margin-right: 0;
}
.footer_contact ul li a {
    color: #fff;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: #2f2f2f;
    text-align: center;
    border-radius: 50%;
    display: block;
}

.footer_contact ul li a:hover {
    background: #a8741a;
}

.footer_menu ul li a {
    display: block;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
    color: #a0a0a0;
}

.footer_menu ul li a:hover {
    color: #a8741a;
}

.footer_bottom {
    padding: 38px 0 46px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon::before {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
}

.menu-icon::before {
    background-color: #a8741a;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: var(--toggle-dark);
    display: block;
    color: var(--accent-dark);
    margin: 6px 0;
}

.links {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.product_detail_section {
    padding: 50px;
}

.product_detail_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #ffffff; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.product_description {
    font-size: 1rem;
    color: #ddd;
}

.product_price {
    font-size: 1.5rem;
    color: #d8af53;
    margin-bottom: 1.5rem;
}
.price_value {
    color: #ffcc00;
}
.description h2 {
    font-size: 1.5rem;
    color: #d8af53;
    margin-bottom: 0.5rem;
}

.product_section {
    padding: 2rem;
    text-align: center;
}

.section_titles {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #d8af53;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.product_card {
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.product_name {
    font-size: 1.2rem;
    color: #d8af53;
    margin: 10px 0;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border-bottom: 1px solid #333;
}

.product_link {
    display: inline-block;
    margin: 15px auto;
    padding: 8px 16px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #d8af53;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product_link:hover {
    background-color: #b4933f;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

/* General Responsive Adjustments */
@media (max-width: 1200px) {
    /* Large desktop */
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }

    .slider_area .single_slider .row {
        height: 400px;
    }
}

@media (max-width: 992px) {
    /* Tablet screens */
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }

    .mini_cart {
        min-width: 300px;
    }
    .cart_info {
        width: 50%;
    }
    .cart_remove {
        width: 20%;
    }

    .slider_area .single_slider .row {
        height: 350px;
    }
    .category_img {
        width: 180px;
        height: 180px;
    }
    .category_card {
        width: 300px;
        padding: 30px;
    }
    .header_black .main_menu nav > ul > li > a {
        font-size: 16px;
    }
    .cart_link {
        margin-left: 15px;
    }

    .cart_link > a {
        font-size: 13px;
        padding: 10px 8px 12px 15px;
        line-height: 14px;
    }
    .cart_link > a i.ion-android-cart {
        font-size: 18px;
        margin-right: 5px;
        padding-right: 5px;
    }
    .cart_link > a i.ion-chevron-down {
        font-size: 16px;
        margin-left: 2px;
    }
}

@media (max-width: 768px) {
    /* Mobile screens */
    .logo {
        width: 80px;
    }

    .cart_link > a {
        font-size: 12px;
        padding: 8px 5px 10px 12px;
        line-height: 12px;
    }
    .cart_link > a i.ion-android-cart {
        font-size: 16px;
        margin-right: 3px;
        padding-right: 10px;
    }
    .cart_link > a i.ion-chevron-down {
        font-size: 14px;
        margin-left: 1px;
    }

    .widgets_container,
    .widget_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer_contact {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
    }

    .footer_social {
        text-align: center;
    }
    .header_bottom {
        padding: 10px 5px;
    }
    .slider_area .single_slider .row {
        height: 250px;
    }
    .main_menu nav ul {
        flex-direction: column;
    }
    .logo_sticky a img {
        max-width: 100px;
    }
    .category_img {
        width: 140px;
        height: 140px;
    }
    .category_card,
    .product_card {
        width: 90%;
        padding: 20px;
    }
    .footer_black,
    .footer_contact,
    .blog_content h3 {
        text-align: center;
    }
    .mini_cart {
        width: 100%;
        padding: 10px;
    }
    .links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0px;
        animation: fadeInLeft 0.5s ease-in-out;

        left: 0;
        width: 250px;
        height: 100vh;
        align-items: center;
        justify-content: center;
        /* transition: left 0.3s ease-in-out; */

        gap: 20px;
    }
    .links.active {
        display: flex;
        z-index: 9999999;
        background: #2d2d2d;
        /* border: 1px solid #fff; */
        transition: left 0.3s ease-in-out;
    }

    .menu-toggle {
        display: inline-block;
    }
    .menu-icon {
        width: 25px;
        height: 2px;
    }
}
@media (max-width: 626px) {
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    /* Small mobile screens */
    body {
        font-size: 12px;
    }
    .logo {
        width: 60px;
    }
    .cart_link {
        margin-left: 5px;
    }

    .cart_link > a {
        font-size: 10px;
        padding: 5px 3px 7px 10px;
        line-height: 10px;
    }
    .cart_link > a i.ion-android-cart {
        font-size: 14px;
        margin-right: 2px;
        padding-right: 10px;
    }
    .cart_link > a i.ion-chevron-down {
        font-size: 12px;
    }
    .footer_contact ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }
    h1,
    h2,
    h3 {
        text-align: center;
    }
    .cart_button a {
        padding: 10px 0;
        font-size: 14px;
    }
    .mini_cart {
        width: 100%;
        padding: 5px;
    }
    .category_img {
        width: 100px;
        height: 100px;
    }
    .category_card,
    .product_card {
        width: 100%;
        padding: 15px;
    }
}

/* Specific Section Adjustments */

/* Header and Navigation */
@media (max-width: 600px) {
    .menu-toggle {
        display: block;
        padding-right: 50px;
    }
    .header_img {
        width: 75px;
        height: auto;
        padding-top: 20px;
    }
    .hero_section h1,
    .hero_section p {
        font-size: 1.5rem;
        text-align: center;
    }
    .links {
        flex-direction: column;
        gap: 20px;
        width: 250px;
    }
}

/* Hero Section */
@media (max-width: 781px) {
    .hero_section {
        padding-top: 200px;
    }
    .product_details {
        flex-direction: column;
    }
    .hero_section p {
        font-size: 1rem;
        text-align: center;
    }
    .category_heading {
        font-size: 1.75rem;
    }
}
.logo img {
    width: 100px;
}
/* Product Cards */
@media (max-width: 350px) {
    .product_card,
    .category_card {
        width: 100%;
    }
    .category_img,
    .product_image {
        width: 80%;
    }
}
@media (max-width: 415px) {
    .cart_link {
        width: 100px;
    }
    .cart_link > a {
        font-size: 8px;
        padding: 5px 3px 7px 10px;
    }
    .cart_link > a i.ion-android-cart {
        font-size: 12px;
    }
    .cart_link > a i.ion-chevron-down {
        font-size: 12px;
    }
}
/* Banner Section */
@media (max-width: 871px) {
    .banner_fullwidth .row {
        height: 300px;
    }
    .banner_text h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 366px) {
    .cart_link {
        margin-left: 5px;
    }

    .cart_link > a {
        font-size: 8px;
        padding: 5px 3px 7px 10px;
        line-height: 10px;
    }
    .cart_link > a i.ion-android-cart {
        font-size: 10px;
        margin-right: 2px;
        padding-right: 10px;
    }
    .cart_link > a i.ion-chevron-down {
        font-size: 8px;
    }
}
